<div class="container mt-5">
  <h1>Nuevo Registro</h1>
  <form  [formGroup]="formRegistros" (submit)="agregar(formRegistros.value)">
    <div class="row justify-content-center form-group">
      <div class=" col-lg-8 col-md-9 col-sm-10 col-xs-12">
        <label for="">Concepto:</label>
        <input placeholder="Ingrese el concepto." formControlName="concepto" type="text" class="form-control">
      </div>
      <div class=" col-lg-8 col-md-9 col-sm-10 col-xs-12">
        <label for="">Monto:</label>
        <input placeholder="Ingrese el monto..." formControlName="monto" type="number" class="form-control">
      </div>
      <div class=" col-lg-8 col-md-9 col-sm-10 col-xs-12">
        <label for="">Fecha:</label>
        <input placeholder="Ingrese una fecha..." formControlName="fecha" type="date" class="form-control">
      </div>
      <div class=" col-lg-8 col-md-9 col-sm-10 col-xs-12">
        <label for="">Tipo:</label>
        <select formControlName="tipo" name="" id="" class="form-control">
          <option hidden value="">Selecciona una opción</option>
          <option value="ingreso">ingreso</option>
          <option value="egreso">Egreso</option>
        </select>
      </div>
    </div>
    <div class="row mt-5 d-flex justify-content-around form-group">
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" type="submit" [disabled]="!formRegistros.valid">Agregar</button>
      </div>
    </div>
  </form>
</div>
